<hr>
<div class="container-fluid">
<div class="row">




  <div class="row">




    <div class="col-lg-offset-1 col-lg-2">
          <div class="views-field views-field-field-customer-logo">
            <div class="field-content">
              <a href="" ng-click="open('lvmh')"  title="LVMH">
                <img typeof="foaf:Image" src="img/lvmh.jpg" width="150" height="150" alt=""></a>
              </div>
            </div>
          </div>

      <div class="col col-lg-2">
      <div class="views-field views-field-field-customer-logo">
        <div class="field-content"><a href="" ng-click="open('af')" title="Air France - KLM">
          <img typeof="foaf:Image" src="img/af.png" width="150" height="150" alt=""></a>
        </div>
       </div>
     </div>

     <div class="col col-lg-2">
       <div class="views-field views-field-field-customer-logo">
         <div class="field-content"><a href="" ng-click="open('abracadacook')"  title="Cook">
             <img typeof="foaf:Image" src="img/cook.png" width="150" height="150" alt=""></a>
           </div>
         </div>
       </div>

        <div class="col col-lg-2">
          <div class="views-field views-field-field-customer-logo">
            <div class="field-content"><a href="" ng-click="open('airbus')"  title="Airbus">
              <img typeof="foaf:Image" src="img/ab.jpg" width="150" height="150" alt=""></a>
            </div>
          </div>
        </div>

        <div class="col col-lg-2">
          <div class="views-field views-field-field-customer-logo">
            <div class="field-content">
              <a href="" ng-click="open('envie')"  title="Envie">
                <img typeof="foaf:Image" src="img/enviee.jpg" width="150" height="150" alt=""></a>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
    <hr>
