<web-app xmlns="htpp://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>servlets.Bonjour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
</web-app>
